.c-container{
    justify-content: space-around;
    gap: 1rem;
}
.c-container>img{
    width:9rem;
}
@media (max-width: 430px) {
    .c-container {
        padding: 6rem ;    /* Slightly reduce padding for smaller screens */
        gap: 1.5rem;        /* Reduce the gap between logos */
    }

    .c-container > img {
        width: 12rem;        /* Resize logos to fit smaller screens */
    }
}