.h-wrapper{
    color: white
}

.h-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary)

}

/* left side */
.hero-left{
    position: relative;
    gap: 3rm;
}

.hero-title{
    position: relative;
    z-index: 1;
}

.hero-title>h1{
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 4rem;
}

/* right side */ 


.h-menu{
    gap: 2rem;
}

.h-menu>*:hover{
    cursor: pointer;
}